<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Six Shooter Media Free Template
http://www.sixshootermedia.com/free-templates/
Released for free under a Creative Commons Attribution 2.5 License

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="" />
    <title>EasyHome</title>
    <link href='../static/1.css?version=2' rel='stylesheet' type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


</head>
<body>
<div id="header">
  <!-- This is where the image of the house goes -->
  <p style="text-align:center;"><img src="../static/images/easyhome_logo.png"></p>

</div>

<!--h1 class="main_title"><a href="#">EasyHome</a></h1-->
<div id="navigation" style="margin-top: -155px">
          <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Post Your Ad</a></li>
            {% if session.logged_in %}
              <li><a href="/profile">My Profile</a></li>
              <li><a href="/logout">Logout</a></li>
            {% else %}
              <li><a href="/registertrans">Register</a></li>
              <li><a href="/logintransparent">Login</a></li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
        <img src="../static/images/image.jpg">

     <div class="signup-box" style="margin-top: -250px">
        {% block body %}
        <h1>Post Ad</h1>
          <form form id="upload-form" action="{{ url_for('post_ad') }}" method="POST" enctype="multipart/form-data">
            <p>Address</p>
            <input type="text" name="address" placeholder="Enter Address" class="form-control"  value={{request.form.address}}>
              <p>House Type</p>
              <select style="width: 180px;height: 25px;margin-top: 15px" name="housetype">
                  <option>Family Flat</option>
                  <option>Mes</option>
                  <option>Commercial</option>
              </select>
              <p style="margin-top: 15px">Description</p>
            <input type="text" name="description" placeholder="Enter Description" class="form-control"  value={{request.form.description}}>
              <p>Rent Fee</p>
            <input type="text" name="rentfee" placeholder="Enter Rent Fee" class="form-control"  value={{request.form.rentfee}}>
              <p>Contact Information</p>
            <input type="text" name="contactinformation" placeholder="Enter Contact Information" class="form-control"  value={{request.form.contactinformation}}>
              <p>Division</p>
              <select style="width: 180px;height: 25px;margin-top: 15px" name="division">
                  <option>DHAKA</option>
                  <option>SYLHET</option>
                  <option>RANGPUR</option>
                  <option>MYMENSINGH</option>
                  <option>BARISAL</option>
                  <option>CHITTAGONG</option>
                  <option>KHULNA</option>
                  <option>RAJSHAHI</option>
              </select>
              <p style="margin-top: 15px">District</p>
                <select style="width: 180px;height: 25px;margin-top: 15px" name="district">
                  <option>DHAKA</option>
                  <option>FARIDPUR</option>
                  <option>GAZIPUR</option>
                  <option>GOPALGANJ</option>
                  <option>JAMALPUR</option>
                  <option>KISHOREGONJ</option>
                  <option>MADARIPUR</option>
                  <option>MANIKGANJ</option>
                    <option>MUNSHIGANJ</option>
                  <option>MYMENSINGH</option>
                  <option>NARAYANGANJ</option>
                  <option>Mymensingh</option>
                  <option>NARSINGDI</option>
                  <option>NETRAKONA</option>
                  <option>RAJBARI</option>
                  <option>SHARIATPUR</option>
                    <option>SHERPUR</option>
                    <option>TANGAIL</option>

                    <option>SYLHET</option>
                  <option>HABIGANJ</option>
                  <option>MAULVIBAZAR</option>
                  <option>SUNAMGANJ</option>

                    <option>RANGPUR</option>
                  <option>DINAJPUR</option>
                  <option>GAIBANDHA</option>
                  <option>KURIGRAM</option>
                    <option>LALMONIRHAT</option>
                  <option>NILPHAMARI</option>
                  <option>PANCHAGARH</option>
                  <option>THAKURGAON</option>

                    <option>BARISAL</option>
                  <option>BARGUNA</option>
                    <option>BHOLA</option>
                  <option>JHALOKATI</option>
                  <option>PATUAKHALI</option>
                  <option>PIROJPUR</option>


                    <option>CHITTAGONG</option>
                    <option>BANDARBAN</option>
                  <option>BRAHMANBARIA</option>
                  <option>CHANDPUR</option>
                  <option>COMILLA</option>
                    <option>COX'S BAZAR</option>
                  <option>FENI</option>
                    <option>KHAGRACHHARI</option>
                  <option>LAKSHMIPUR</option>
                  <option>NOAKHALI</option>
                  <option>RANGAMATI</option>


                    <option>KHULNA</option>
                  <option>BAGERHAT</option>
                  <option>CHUADANGA</option>
                  <option>JESSORE</option>
                    <option>JHENAIDAH</option>
                  <option>MAGURA</option>
                    <option>KUSHTIA</option>
                  <option>MEHERPUR</option>
                  <option>NARAIL</option>
                    <option>SATKHIRA</option>

                    <option>RAJSHAHI</option>
                  <option>BOGRA</option>
                    <option>CHAPAINABABGANJ</option>
                  <option>JOYPURHAT</option>
                    <option>PABNA</option>
                  <option>NAOGAON</option>
                  <option>NATORE</option>
                    <option>SIRAJGANJ</option>
              </select>
              <p style="margin-top: 15px">Area</p>
                <select style="width: 180px;height: 25px;margin-top: 15px" name="area">
                  <option>BADDA</option>
                  <option>BANANI</option>
                  <option>BANGLAMOTOR</option>
                  <option>BANGSHAL</option>
                  <option>BARIDHARA</option>
                  <option>BASABO</option>
                  <option>BASUNDHARA</option>
                  <option>CANTONMENT</option>
                  <option>CHAUKBAZAR</option>
                  <option>DEMRA</option>
                  <option>DHAMRAI</option>
                  <option>DHANMONDI</option>
                  <option>ELEPHANT ROAD</option>
                  <option>GULSHAN</option>
                  <option>HAZARIBAG</option>
                  <option>JATRABARI</option>
                  <option>KAFRUL</option>
                  <option>KAMRANGIRCHAR</option>
                  <option>KARWANBAZAR</option>
                  <option>KHILGAON</option>
                  <option>KHILKHET</option>
                  <option>LALBAG</option>
                  <option>MALIBAG</option>
                  <option>MIRPUR</option>
                  <option>MOGHBAZAR</option>
                  <option>MOTIJHEEL</option>
                  <option>MOHAMMADPUR</option>
                  <option>NEW MARKET</option>
                  <option>PALTAN</option>
                  <option>RAMNA</option>
                  <option>RAMPURA</option>
                  <option>UTTARA</option>
                  <option>SAVAR</option>
                  <option>SHAJAHANPUR</option>
                  <option>TEJGAON</option>
                  <option>TONGI</option>
                  <option>WARI</option>


                  <option>AKHALIA</option>
                  <option>AMBER KHANA</option>
                  <option>BAGH BARI</option>
                  <option>BALAGONJ</option>
                  <option>BANDAR BAZAR</option>
                  <option>BEANIBAZAR</option>
                  <option>BIMANBANDAR</option>
                  <option>BISHWANATH</option>
                  <option>CHOUHATTA</option>
                  <option>COMPANIGONJ</option>
                  <option>DARGAH MAHALLA</option>
                  <option>FENCHUGANJ</option>
                  <option>GOLAPGANJ</option>
                  <option>JAINTAPUR</option>
                  <option>KANAIGHAT</option>
                  <option>KUMAR PARA</option>
                  <option>LAMA BAZAR</option>
                  <option>MAJORTILA</option>
                  <option>NAYASARAK</option>
                  <option>NEHARI PARA</option>
                  <option>OSMANI NAGAR</option>
                  <option>PATHAN TULA</option>
                  <option>SHAHI EIDGAH</option>
                  <option>SHAHPORAN</option>
                  <option>SHIBGANJ</option>
                  <option>SOUTH SURMA</option>
                  <option>SUBHANI GHAT</option>
                  <option>SUBID BAZAR</option>
                  <option>UPOSHOHOR</option>
                  <option>ZAKIGANJ</option>
                  <option>ZINDA BAZAR</option>


                   <option>AMTALA</option>
                  <option>BANGLABAZAR</option>
                  <option>BELTOLA FERI GHAT</option>
                  <option>CHAND MARI</option>
                  <option>CHAWK BAZAR</option>
                  <option>CITY GATE BARISAL</option>
                  <option>KALIZIRA</option>

                   <option>KASHIPUR BAZAR</option>
                  <option>LAUNCH GHAT</option>
                  <option>NATTULLBAD</option>
                  <option>NAZIRMOHOLLA</option>
                  <option>NATUN BAZAR</option>
                  <option>NOBOGRAM ROAD</option>
                  <option>PURAN BAZAR</option>
                  <option>RUPATALI</option>
                 <option>SADAR ROAD</option>


                        <option>ANDERKILLA</option>
                  <option>ANWARA</option>
                  <option>AGRABAD</option>
                  <option>BAIZID</option>
                  <option>BANDAR</option>
                  <option>CDA AVENUE</option>
                  <option>CHANDANAISH</option>
                  <option>CHANDGAON</option>
                  <option>CORNELHAT</option>
                  <option>CHAWKBAZAR</option>
                  <option>DOUBLE MOORING</option>
                  <option>FATIKCHARI</option>
                  <option>HALISHAHAR</option>
                  <option>HATHAZARI</option>
                  <option>JAMALKHAN</option>
                  <option>KARNAFULY</option>
                  <option>KHULSHI</option>
                  <option>KOTWALI</option>

                  <option>LALKHAN BAZAR</option>
                  <option>LOHAGARA</option>
                  <option>MIRSHARAI</option>
                  <option>MURADPUR</option>
                  <option>NASIRABAD</option>
                  <option>PAHARTALI</option>
                  <option>POTENGA</option>
                  <option>PATIYA</option>
                  <option>RENGUNIA</option>
                  <option>RAOZAN</option>
                  <option>SANDWIP</option>
                  <option>SATKANIA</option>
                  <option>SITAKUNDA</option>

                    <option>BAHARAMPUR</option>
                  <option>BOALIA</option>
                  <option>BOSEPARA</option>
                  <option>CHHOTA BANAGRAM</option>
                  <option>HATEMKHA</option>
                  <option>HOSSAINIGANJ</option>

                   <option>KADIRGANI</option>
                  <option>KAZIHATA</option>
                  <option>KESHABPUR</option>
                  <option>NAWDAPARA</option>
                  <option>PADMA RESIDENTIAL AREA</option>
                  <option>RAJPARA</option>

                  <option>RAMCHANDRAPUR</option>
                  <option>RANI NAGAR</option>
                  <option>SHIROIL</option>
                  <option>SHEHAB BAZAR</option>
                  <option>MOTIHAR</option>
                  <option>LAKSIMIPUR</option>

                  <option>UPOSAHAR</option>
                  <option>KAZLA</option>


                  <option>ALAMDANGHA</option>
                  <option>BODORGANJ</option>
                  <option>COLLEGE PARA</option>
                  <option>MAHIGONJ</option>
                  <option>MITHAPUKUR</option>
                  <option>MODERN MORE</option>
                  <option>PAGLAPUR</option>

                  <option>POUROBAZAR</option>
                  <option>SHATHIBARI</option>
                  <option>SHATHMATHA CHOTTOR</option>
                  <option>SHATRASTA MOR</option>
                  <option>TAJHAT</option>
                  <option>VINNO JOGOT</option>

                  <option>JAHAJ COMPANY MORE</option>
                  <option>DHAP</option>
                  <option>SHAPLA CHOTTOR</option>
                  <option>LALGAB MOR</option>
                  <option>KACHARIBAZAR</option>


                   <option>KHULNA SADAR</option>
                  <option>BATIGHATA</option>
                  <option>BOYRA BAZAR</option>
                  <option>DACOPE</option>
                  <option>DIGHALIA</option>
                  <option>DUMURIA</option>
                  <option>GOLLAMARI</option>
                  <option>KHAN JAHAN ALI</option>

                  <option>KOYLA GHAT</option>
                  <option>KOYRA</option>
                  <option>LOBON CHORA</option>
                  <option>PABLA</option>
                  <option>PAIKGACHA</option>
                  <option>PHULTALA</option>

                  <option>RAYER MOHOL</option>
                  <option>TEROKHADA</option>


                  <option>SONADANGA</option>
                  <option>KHALISHPUTR</option>
                  <option>DAULATPUR</option>
                  <option>RUPSHA</option>


                    </select>


                   <strong>Files:</strong><br>
                    <input id="file-picker" type="file" name="file" accept="image/*" multiple>
                    <div id="msg"></div>
            <input type="submit" name="submit" value="Post" style="margin-top: 15px">
            </form>
              {% endblock %}

</div>
</body>
</html>
