<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Six Shooter Media Free Template
http://www.sixshootermedia.com/free-templates/
Released for free under a Creative Commons Attribution 2.5 License

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="" />
    <title>EasyHome</title>
    <link href='../static/1.css?version=8' rel='stylesheet' type="text/css">

</head>
<body>
<div id="header">
  <!-- This is where the image of the house goes -->
  <p style="text-align:center;"><img src="../static/images/easyhome_logo.png"></p>

</div>

<!--h1 class="main_title"><a href="#">EasyHome</a></h1-->
<div id="navigation" style="margin-top: -155px">
          <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
             {% if session.logged_in %}
            <li><a href="/post_ad" style="font-size: 11px">Post Your Ad</a></li>
            {% else %}
            <li><a href="/logintransparent" style="font-size: 11px">Post Your Ad</a></li>
            {% endif %}
            {% if session.logged_in %}
              <li><a href="#">My Profile</a></li>
              <li><a href="/logout">Logout</a></li>
            {% else %}
              <li><a href="/registertrans">Register</a></li>
              <li><a href="/logintransparent">Login</a></li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    <div class="container">
      {% include 'includes/_messages.html' %}
    </div>

        <img src="../static/images/image.jpg">

     <div class="signup-box" style="margin-top: -270px">
        {% block body %}
  <h1 style="text-align: center">Register</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form form id="upload-form" action="{{ url_for('registertrans') }}" method="POST" enctype="multipart/form-data">
    <div class="form-group" style="text-align: center">
      {{render_field(form.name, class_="form-control")}}
    </div>
      <div class="form-group" style="text-align: center">
      {{render_field(form.username, class_="form-control")}}
    </div>
    <div class="form-group" style="text-align: center">
      {{render_field(form.email, class_="form-control")}}
    </div>

    <div class="form-group" style="text-align: center">
      {{render_field(form.password, class_="form-control")}}
    </div>
    <div class="form-group" style="text-align: center">
      {{render_field(form.confirm, class_="form-control")}}
    </div>
      <div class="form-group" style="text-align: center">
      {{render_field(form.mobileno, class_="form-control")}}
    </div>
      <div class="form-group" style="text-align: center">
      {{render_field(form.address, class_="form-control")}}
    </div>

      <div class="form-group" style="text-align: center">
     <strong>Files:</strong><br>
       <input id="file-picker" type="file" name="file" accept="image/*" multiple>
       <div id="msg"></div>
        </div>
    <p style="text-align: center"><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
{% endblock %}


</div>
</body>
</html>
